<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LisBrowser_Gecko.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <LisBrowser_Gecko.My.MySettings>
            <setting name="homepage" serializeAs="String">
                <value>https://google.de/</value>
            </setting>
            <setting name="navigate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="color_fg" serializeAs="String">
                <value>black</value>
            </setting>
            <setting name="color_bg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="search" serializeAs="String">
                <value>https://google.de/search?q=</value>
            </setting>
            <setting name="history" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="history2" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="timer" serializeAs="String">
                <value />
            </setting>
        </LisBrowser_Gecko.My.MySettings>
    </userSettings>
</configuration>